on: pull_request

jobs:
  helloWorld:
    runs-on: ubuntu-latest
    steps:
      - name: Add reaction
        id: check-description
        #uses: actions/checkout@v1
        uses: nouzbe/check-pull-request-description@v1.11
        continue-on-error: true
        
      - name: An example job to comment a PR
        if: ${{ failure() }}
        #if: ${{ (needs.helloWorld.result == 'failure') }}
        #- name: Checkout
        #uses: actions/checkout@v3
        #- name: Comment PR
        uses: thollander/actions-comment-pull-request@v1

        with:
          message: 'Example of message !'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
